.recharge-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgreen;
    height: 95vh;
    position: relative;
    overflow-y: auto;
}

.header-section {
    background-color: #FAFEE6;
    padding: 4px 12px;
    margin-bottom: 8px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    color: #004A59;
    margin-bottom: 10px;
}

p.sub-title {
    font-size: 24px;
    color: #3F777D;
    margin-bottom: 20px;
    font-weight: 100;
}

.progress-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d1c4a7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot.active {
    border: 2px solid #815439;
    background-color: white;
    width: 14px;
    height: 14px;
}

.dot.active~.dot {
    border: none;
    background-color: #d1c4a7;
    width: 16px;
    height: 16px;
}

.line {
    width: 45px;
    height: 3px;
    background-color: #d1c4a7;
    margin: 0 10px;
    box-sizing: content-box;
}

.input-section {
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    margin-bottom: 8px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-label {
    font-size: 14px;
    color: #004A59;
    text-align: left;
    margin-bottom: 5px;
}

.country-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #C6D6DA;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    background: white;
    background-image: url('../assets/svg/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px;
}

.country-options {
    background-color: #fff;
    padding: 8px;
}

.mobile-input {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #C6D6DA;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.country-select:focus,
.mobile-input:focus {
    border-color: #006d77;
}

.button-container {
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.recharge-button {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: white;
    background-color: #004A59;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.recharge-button:hover {
    background-color: #005f6b;
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
    padding-left: 8px;
    ;
    margin-top: 4px;
}

.operators-container {
    max-height: 275px;
    overflow-y: auto;
    margin-top: 18px;
}

p.operator-title,
p.product-title {
    text-align: left;
    color: #004A59;
}

.product-section,
.operator-section {
    padding: 0px 18px;
}

.operators-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 8px;
    margin-bottom: 20px;
}

.operator-box {
    flex: 0 0 calc(50% - 8px);
    border: 1px solid #C6D6DA;
    padding: 0 4px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    cursor: pointer;
}

.operator-box p {
    font-size: 14px;
    color: #004A59;
    margin: 10px 0;
    ;
}

.product-container {
    max-height: 350px;
    overflow-y: auto;
}

.product-box p {
    font-size: 14px;
    font-weight: 600;
    color: #004A59;
    margin: 10px 0;
    text-align: left;
    padding: 3px 8px 3px 20px;
    ;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 12px 0px;
    margin-bottom: 20px;
}

.product-box {
    border: 1px solid #C6D6DA;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 25px;
    cursor: pointer;
    color: #004A59;
}

.recipient-label {
    font-size: 16px;
    color: #004A59;
    text-align: left;
    margin: 0px;
}

.recipient-num {
    color: #004A59;
    font-weight: 600;
    border: 1px solid #C6D6DA;
    border-radius: 25px;
    padding: 12px 8px;
    margin: 8px 0 28px 0;
}

.lookup-error {
    display: flex;
    align-items: center;
    color: #FF0000;
    font-weight: 600;
    margin-bottom: 2px;
}

.lookup-error-message {
    text-align: left;
    margin-top: 2px;
    font-weight: normal;
    color: #4a4a4a;
    font-size: 12.5px;
    padding-left: 28px
}

.edit-icon {
    float: right;
    padding: 6px;
    background-color: #E6EDEF;
    border-radius: 25px;
    margin-top: -5px;
    cursor: pointer;
}

.error-icon {
    margin-right: 4px;
    color: #617B7B;
    height: 18px !important;
}

/* Media Queries for Smaller Screens */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .line {
        width: 30px;
        height: 2px;
    }

    .country-select,
    .mobile-input {
        padding: 10px 14px;
        font-size: 14px;
    }

    .recharge-button {
        padding: 12px 0;
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .recharge-container {
        border: none;
    }
}